body {
  background-color: #f2f3f7;
}

@font-face {
  font-family: pokemon;
  src: url(./docs/assets/pokemonsolid.ttf);
}

h1 {
  font-size: 2.5em;
  -webkit-text-stroke: 1.5px #2a75bb;
  color: #ffcc03;
}

h2 {
  margin-top: 0;
  font-size: 1.2em;
}

select {
  width: 10em;
  margin-top: 1.25em;
  margin-right: 5em;
  font-size: 1.2em;
  text-indent: 1em;
  text-align: center;
  background-color: #f2f3f7;
}

button {
  font-size: 1.2em;
  background-color: #c62828;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 1.2em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: pokemon;
  letter-spacing: 5px;
  gap: 10px;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.game {
  display: grid;
  grid-gap: 10px;
}

.card {
  box-shadow: 0 3px 10px rgba(200, 200, 200, 0.9);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
}

.emptyMidCard {
  box-shadow: 0 3px 10px rgba(200, 200, 200, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #f2f3f7;
}

.front,
.back {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  background-image: url(./docs/assets/pokeball.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.rotated {
  transform: rotateY(180deg);
}
